Per's feedback during the Call for Adoption

Hi,

I suggest that the reference RFC 4122 is updated to 9562 and
that the type yang:uuid is used instead of string for
/energy-objects/energy-entry/relationship/peer/id

The following errors are reported by pyang:

# ietf-power-and-energy.yang

ietf-power-and-energy.yang:45: warning: RFC 8407: 3.1: The IETF Trust
Copyright statement seems to be missing or is not correct (see pyang
--ietf-help for details).
ietf-power-and-energy.yang:768: warning: the module seems to use RFC
2119 keywords, but the required text from RFC 8174 is not found or is
not correct (see pyang --ietf-help for details).

Furthermore I suggest to add authors to the YANG module contact
statement.


# iana-ietf-power-and-energy.yang

iana-ietf-power-and-energy.yang:38: warning: RFC 8407: 3.1: The IETF
Trust Copyright statement seems to be missing or is not correct (see
pyang --ietf-help for details).

The name contains both iana and ietf, I suggest to drop "ietf-" from
the name.

The placeholder is "XXX" and not "XXXX", and there is no instruction
to the RFC Editor what to do with the placeholder.


Nit: The section number is not rendered properly for the
Operational Considerations section.


--