YANG module in the draft not picked up by the yangcatalog.org

Reason: the CODE BEGINS does not have the right convention

https://datatracker.ietf.org/doc/rfc9907/

1.1.  Changes Since RFC 8407

  ...

   *  Updated the guidance so that the "file name" after the "<CODE
      BEGINS>" tag is mandatory.



   The "<CODE BEGINS>" tag MUST be followed by a string identifying the
   file name specified in Section 5.2 of [RFC7950].  The name string
   form that includes the revision date SHOULD be used.  The revision
   date MUST match the date used in the most recent revision of the
   module.

   The following example is for the "2016-03-20" revision of the "ietf-
   foo" module:

   <CODE BEGINS>
   file "ietf-foo@2016-03-20.yang"

       module ietf-foo {
         namespace "urn:ietf:params:xml:ns:yang:ietf-foo";
         prefix "foo";
         organization "...";
         contact "...";
         description "...";
         revision 2016-03-20 {
           description "Latest revision";
           reference "RFC FFFF: Foo Protocol";
         }
         // ... more statements
       }
   <CODE ENDS>